/* test */
div.cartouche {
	color: white;
	background-color: red;
	text-align: center;
	width: 200px;
	height: 120px;
	padding-top: 80px;
	float: left;
	margin: 20px;
	border-color: rgb(255, 100, 100);
	border-style: outset;
}

div#stop {
	margin-left: 380px;
	margin-right: 120px;
	clear: both;
}
