<!DOCTYPE html>
<html lang="en">
        <head>
		<meta charset="utf-8" />
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="style_vue.css" />
	</head>
    <body>
		<script type="text/x-template" id="player-template">
		<div class="chargeur">
		<slot name="player">
			<button @click="toggle" v-bind:class="['cartouche', playingClass]" :id="'player_' + player_id">
				<audio :id="'audio_' + player_id" @durationchange="updateduration" @playing="playing" @pause="paused" @ended="playended" :src='mysource' ref='player' ></audio>
			{{ mytitle }} {{ current_position }}/{{ duration }}
			</button>
			<label style="margin-left: 30px; margin-right: 30px">&#x1F501;<input v-model='loop' type="checkbox" /></label>{{ shortcut }} <button @click="changefile">&#x23CF;</button>
		</slot>
		<slot name="file"><input :id="'file_' + player_id" v-show="false" @change="filechanged" type="file" ref='file' accept="audio/*" /></slot>
		</div>
		</script>
		<div id="player">
			<div class="cartoucheur">
        <audio style="display: none" id="audio_test"></audio>
				<player v-for="cart in carts" title='Click me' :key="cart.id" :player_id="cart.id" :ofile="cart.source"></player>
			</div>
      <input id='multiple_files' type="file" multiple="yes" accept="audio/*" @change='multiple_load' />
			<p id="log">{{ message }}</p>
		</div>
    <script>
Vue.component('player', {
  template: '#player-template',
  props: {
    title: String,
    player_id: Number,
    ofile: File,
  },
  computed: {
    shortcut: function() {
      if(this.player_id < 10) {
        return (this.player_id).toString()
      }
      else {
        shortcuts = 'abcdefghijk'
        return shortcuts[this.player_id-10]
      }
    },
    mysource: function() {
      if(this.myfile != undefined && this.myfile != ''){
        return this.loadfile(this.myfile)
      }
      else if(this.ofile != undefined){
        return this.loadfile(this.ofile)
      }
    },
    mytitle: function() {
      if (this.myfile != ''){
        return this.myfile.name
      }
      else if (this.ofile != undefined){
        return this.ofile.name
      }
      else { 
        console.log('No file loaded')
        return 'Click me!'}
    }
  },
  data: function () {
	  return {
		  myfile: '',
		  duration: 0,
		  current_position: 0,
		  timer: undefined,
		  playingClass: 'stopped',
		  loop: false,
	  }
  },
  methods: {
    changefile: function(event) {
      this.$refs.file.click()
    },
    updateduration: function(event) {
      player = this.$refs.player
      this.duration = Math.round(player.duration*100)/100
      this.current_position = Math.round(player.currentTime*100)/100
    },
    playended: function(event) {
      event.target.currentTime = 0
      if(this.loop) {
        event.target.play()
      } else {
        event.target.pause()
      }
    },
    loadfile: function(source) {
      url = URL.createObjectURL(source)
      p = document.getElementById('audio_test')
      if(p.canPlayType(source.type)) { 
        return url
      } else {
        console.log("Can't read this.")
      }
    },
    filechanged: function(event) {
      this.myfile = event.target.files[0]
    },
    playing: function(event) {
      this.playingClass = 'started'
      this.timer = setInterval(this.updateduration, 100)
    },
    paused: function() {
      this.playingClass = 'stopped'
      if(this.timer != undefined) {
        window.clearInterval(this.timer)
      }
    },
    toggle: function(event) {
      if(this.mysource == undefined || this.mysource == '') {
        this.$refs.file.click()
      }
      else {
        player = this.$refs.player
	      if(player.paused) {
          player.currentTime = 0
          console.log("played something on " + this.player_id)
          player.play()
       	}
	      else {
	       player.pause()
	      }
      }
    }
  }
})

var app = new Vue({
  el: '#player',
  data: {
	  source: '',
	  message: 'avant cliquette',
    carts: [],
  },
  methods: {
    multiple_load(event) {
      // Sort files using locale, loosely
      fileList = Array.from(event.target.files).sort((a, b) => a.name.localeCompare(b.name))
      carts = []
      for(var file = 0; file < Math.min(fileList.length, 20); file++) {
        carts[file] = {id: file+1, source: fileList[file]}
      }
      this.carts = carts
    },
    pclick(player) {
      if(player <= this.carts.length) {
          console.log(`Firing player ${player}`)
          player = document.getElementById(`player_${player}`)
          player.click()
      }
    },
    toggle(event) {
      console.log('hit: ' + event.key + ' / ' + event.code)
      pid = event.code.match('(Digit|Numpad)([0-9])')
      if(pid != null && pid.length == 3) {
        id = pid[2]
        this.pclick(id)
      }
      else if(event.key.match(/^[abcdefghijk]$/)) {
        shortcuts = 'abcdefghijk'
        id = shortcuts.indexOf(event.key)
        pid = id + 10
        this.pclick(pid)
      }
   } 
  },
  created() {
    carts = []
    for(id = 1; id < 21; id++) {
      player = { id: id, file: ''}
      carts[id-1] = player
    }
    this.carts = carts
  },
  mounted() {
    window.addEventListener('keydown', this.toggle)
  }
})
		</script>
        </body>
</html>
