<!DOCTYPE html>
<html lang="en">
        <head>
		<meta charset="utf-8" />
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="style_vue.css" />
	</head>
        <body>
		<script type="text/x-template" id="player-template">
		<div class="chargeur">
		<slot name="player">
			<button @click="toggle" v-bind:class="['cartouche', playingClass]" >
				<audio @durationchange="updateduration" @playing="playing" @pause="paused" @ended="playended" :src='mysource' ref='player' ></audio>
			{{ mytitle }} {{ current_position }}/{{ duration }}
			</button>
			<label style="margin-left: 30px; margin-right: 30px">&#x1F501;<input v-model='loop' type="checkbox" /></label><button @click="changefile">&#x23CF;</button>
		</slot>
		<slot name="file"><input v-show="false" @change="filechanged" type="file" ref='file' /></slot>
		</div>
		</script>
		<div id="player">
			<div class="cartoucheur">
				<player v-for="i in 10" title='Click me' :key="i"></player>
			</div>
			<p>{{ message }}</p>
		</div>
                <script>
Vue.component('player', {
  template: '#player-template',
  props: {
    title: String,
  }, 
  data: function () {
	  return {
		  mytitle: this.title,
		  mysource: undefined,
		  myfile: '',
		  duration: 0,
		  current_position: 0,
		  timer: undefined,
		  playingClass: 'stopped',
		  loop: false,
	  }
  },
  methods: {
    changefile: function(event) {
      this.$refs.file.click()
    },
    updateduration: function(event) {
      player = this.$refs.player
      this.duration = Math.round(player.duration*100)/100
      this.current_position = Math.round(player.currentTime*100)/100
    },
    playended: function(event) {
      event.target.currentTime = 0
      if(this.loop) {
        event.target.play()
      } else {
        event.target.pause()
      }
    },
    filechanged: function(event) {
      file = event.target.files[0]
      url = URL.createObjectURL(file)
      p = this.$refs.player
      if(p.canPlayType(file.type)) { 
        this.mysource = url
        this.mytitle = file.name
      } else {
        console.log("Can't read this.")
      }
    },
    playing: function(event) {
      this.playingClass = 'started'
      this.timer = setInterval(this.updateduration, 50)
    },
    paused: function() {
      this.playingClass = 'stopped'
      if(this.timer != undefined) {
        window.clearInterval(this.timer)
      }
    },
    toggle: function(event) {
      if(this.mysource === undefined || this.mysource == '') {
        this.$refs.file.click()
      }
      else {
        player = this.$refs.player
	if(player.paused) {
          player.currentTime = 0
          player.play()
       	}
	else {
	  player.pause()
	}
      }
    }
  }
})

var app = new Vue({
  el: '#player',
  data: {
	  source: '',
	  message: 'avant cliquette'
  },
})
		</script>
        </body>
</html>
