<!DOCTYPE html>
<html>
        <head><script src="https://unpkg.com/vue"></script></head>
        <body>
                <div id="app">
			<input v-on:change="filechanged(i, $event)" style="display: none" type="file" v-for="i in nb_players" :key="i" :id="'file_' + i" />
			<button v-on:click="click(i)" v-for="i in nb_players" v-bind:player_id="i" :key="i">
				<audio :id="'audio_' + i"></audio>Player {{ i }}</button>
			<p>{{ message }}</p>
		</div>
                <script>
var app = new Vue({
  el: '#app',
  data: {
	  nb_players: 5,
	  message: 'avant cliquette'
  },
  methods: {
    filechanged: function(id, event) {
      file = event.target.files[0];
      url = URL.createObjectURL(file);
      player = document.getElementById('audio_' + id)
      if(player.canPlayType(file.type)) {
        player.src = url
      }
      app.message = 'changed file ' + id + ' to ' + file.name
    },
    click: function(id) {
      player = document.getElementById('audio_' + id)
      if(player.src == '') {
        f = document.getElementById('file_' + id)
        f.click()
      }
      else {
	if(!player.paused) {
		player.pause()
	}
	else {
		player.play()
	}
      }
    }
  }
})
		</script>
        </body>
</html>
